
<div class="center-buttons">
    <button id="btnMonthlyReport" onclick="showLastSixMonth()" class="padding btn btn-info">گزارش 6 ماه اخیر</button>
    <button id="btnWeeklyReport" onclick="showLastMonth()" class="padding btn btn-warning">گزارش ماه اخیر</button>
    <button id="btnLastWeekReport" onclick="showLastWeek()" class="padding btn btn-danger">گزارش هفته اخیر</button>
</div>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto">
</div>